// Variables

$white: #fff;
//$dark: #0f151e;
$dark: #1b1b1d;
$yellow: #f2a319;
//$orange: #f26522;
$orange: #f75423;
//$orange: #ff5800;
$orangetransp: rgba(235, 102, 4,.8);
$red: #ce403e;
$hovercolor: #445f88;
$hovercolor: #324a71;
$gold: #d2b797;
$body: #716a65;


$opensans: 'Open Sans', sans-serif;