<!-- Top Nav -->

<ul class="socialmedia">
    <li><a href="#"><i class="icon-fb"></i>Facebook</a></li>
    <li><a href="#"><i class="icon-tw"></i>Twitter</a></li>
    <li><a href="#"><i class="icon-ig"></i>Instagram</a></li>
</ul>

<div class="tab-holder">
    <div id="donate-tab" data-state="collapsed">
        <div class="grid">
            <div class="left-top unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3">
                <h1 class="cuatro">Something</h1>
                <p class="no-margin">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </div>
            <div class="right-top unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                <!--<h1 class="p_large">Quick Links</h1>-->
                <a href="#">Send us a cheque</a>
                <a href="#">Make an online donation</a>
                <a href="#">Another option here</a>
            </div>
        </div>
    </div>
    <a href="#" class="donate-btn">Donate</a>
</div>

<div class="tab-holder">
    <div id="volunteer-tab" data-state="collapsed">
        <div class="grid">
            <div class="left-top unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3">
                <h1 class="cuatro">Something</h1>
                <p class="no-margin">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </div>
            <div class="right-top unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
                <!--<h1 class="p_large">Quick Links</h1>-->
                <a href="#">Send us a cheque</a>
                <a href="#">Make an online donation</a>
                <a href="#">Another option here</a>
            </div>
        </div>
    </div>
    <a href="#" class="volunteer-btn">Volunteer</a>
</div> 