// Footer Styles

footer {
    @include zero;
    @include bgcover(url(http://ariahboots.ca/btb/images/hero-bg.jpg));
    text-align: center;
    background-color: $dark;
    bottom: 0;
    text-align: center;
    color: $white;
    padding: 2rem;
}