// Footer Styles

footer {
    @include zero;
    @include bgcover(url(http://ariahboots.ca/btb/images/hero-bg.jpg));
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: $dark;
    overflow: hidden;
    bottom: 0;
    text-align: center;
    color: $white;
    padding: 2rem;
    padding-bottom: 3rem;
    .f-content {
        @media only screen and (min-width: 60em) {
            @include compensate;
        }
    }
}