.herobanner {
    width: 100%;
    overflow: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5rem;
    color: $white;
    h1, p {
        @include zero;
    }
    p {
        max-width: 30rem;
        margin: 1rem auto 0;
    }
}

.whydothis {
    background-image: url(../../images/hero-bg.jpg);
}