// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {box-sizing: inherit;}

*, *:after, 
*:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; }

body, html {padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

main {
    padding: 3rem 5%;
    overflow-x: hidden;
    @media only screen and (min-width: 60em) {
        //padding: 3rem 20% 10rem 27.5%;
        padding: 3rem 20% 6rem;
    }
    .button {
        max-width: 17rem;
    }
}

.no-pad-bottom {
    padding-bottom: .25rem;
}

.overlay {
    width: 100%;
    padding: 3rem 2rem 5rem;
    color: $white;
    
    @include bgcover(url(../../images/overlay-test.jpg));
    
    @media only screen and (min-width: 18em) {
        padding: 3rem 5rem 5rem;
    }
    
    @media only screen and (min-width: 38em) {
        padding: 3rem 8rem 6rem;
    }
    
    h3 {
        color: $white;
        margin-top: none;
    }
    
    p {
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.overlay-2-col {
    @media only screen and (min-width: 60em) {
        padding: 3rem 10rem 5rem;
    }
    
    @media only screen and (min-width: 80em) {
        padding: 3rem 20rem 5rem;
    }
}

.contain-width {
    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;
}

.contain-width-2 {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.button-orange {
    @include button($orange, 2rem auto);
}

.button-blue {
    @include button($hovercolor, 2rem auto);
}

.button-white {
    @include button($white, 2rem auto);
    &:hover {
        color: $hovercolor;
    }
}

main hr {
    border: 0;
    height: 0;
    border-top: none;
    border-bottom: 1px solid $dark;
    margin: 5rem 0 0rem;
}

.icon-illus {
    width: 9rem;
}

.subscribe {
    display: block;
    width: 100%;
}

.subscribe input {    
    @include input($body, 2rem auto 1rem);
    @media only screen and (min-width: 60em) {
        width: 25rem;
    }
    font-weight: 400;
}

.news .subscribe input {
    @include input($white, 2rem auto 1rem);
    font-weight: 400;
    @media only screen and (min-width: 60em) {
        &{max-width: 35rem;}
    }
    opacity: .4;
}

.placeholder{
    @include placeholder($white);
}

.placeholder-body{
    @include placeholder($body);
}

.hiddencap {
    @include zero;
    figure {
        @include zero;
        position: relative;
        overflow: hidden;
        margin: 3rem 0 2rem;
    }
    figure figcaption {
        @include zero;
        background-color: rgba(255,255,255,.5);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: all 250ms linear;
        transition: all 250ms linear;
        p {
            margin-top: 50%;
            -webkit-transform: translateY(-50%);
            @media only screen and (min-width: 38em) {
                padding: 0 5%;
            }
        }
    }
    figure:hover figcaption {
        top: 0;
        opacity: 1;
    }
}

.blogpost {
    max-width: 40rem;
    margin: 0 auto;
    .top {
        width: 100%;
        margin-bottom: .875rem;
        margin-top: 4rem;
        padding-top: 1.25rem;
        position: relative;
        text-align: left;
    }
    h2 {
        font-family: $opensans;
        text-align: left;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: 0;
        margin-top: .75rem;
    }
    h2 a {
        @include linkreset($body);
        @include transitionlinear(250ms);
        &{border-bottom: none;}
        &:hover {color: $hovercolor;}
    }
    a {
        @include linkreset($orange);
        display: inline-block;
        margin-top: 0.75rem;
    }
}

.singleblogpost {
    p {
        text-align: left;
    }
    img {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.blogpost .top:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    background-color: $dark;
    left: 0;
    width: 52px;
}

.pagination {
    a {
        @include button($orange, 0 10px);
        font-size: .85rem;
    }
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
}

.blog-nav {
    a {
        @include button($orange, 0 10px);
        font-size: .85rem;
    }
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
    .shorter {
        min-width: 3rem;
    }
}