// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {box-sizing: inherit;}

*, *:after, 
*:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; }

body, html {padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

main {
    padding: 3rem 5%;
    overflow-x: hidden;
    @media only screen and (min-width: 60em) {
        //padding: 3rem 20% 10rem 27.5%;
        padding: 3rem 20% 10rem;
    }
}

.overlay {
    width: 100%;
    padding: 3rem 2rem 5rem;
    @media only screen and (min-width: 18em) {
        padding: 3rem 5rem 5rem;
    }
    color: $white;
    @include bgcover(url(../../images/overlay-test.jpg));
    h3 {
        color: $white;
        margin-top: none;
    }
    @media only screen and (min-width: 38em) {
        padding: 3rem 8rem 6rem;
    }
    p {
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.contain-width {
    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;
}

.contain-width-2 {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

main .button {
    @include button($orange, 2rem auto);
    @include transitionlinear(200ms);
    overflow: hidden;
    text-align: center;
    max-width: 17rem;
    &:after {
        width: 101%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $orange;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    &:hover {
        color: $white;
    }
    &:active {
        color: $white;
    }
    &:hover:after {
        height: 111%;
        opacity: 1;
    }

    &:active:after {
        height: 110%;
        opacity: 1;
    }
}

main hr {
    border: 0;
    height: 0;
    border-top: none;
    border-bottom: 1px solid $dark;
    margin: 5rem 0 0rem;
}

.icon-illus {
    width: 9rem;
}

.subscribe {
    display: block;
    width: 100%;
}

.subscribe input {
    background-color: transparent;
    display: block;
    width: 20rem;
    @media only screen and (min-width: 60em) {
        width: 25rem;
    }
    height: 2.5rem;
    @include button($dark, 2rem auto 1rem);
    font-weight: 400;
    padding: 10px;
}

.news .subscribe input {
    @include button($white, 2rem auto 1rem);
}

.subscribe input{
    @include placeholder($white) {
        color: $white;
        opacity: 1;
    }
}

.hiddencap {
    @include zero;
    figure {
        @include zero;
        position: relative;
        overflow: hidden;
        margin: 3rem 0 2rem;
    }
    figure figcaption {
        @include zero;
        background-color: rgba(255,255,255,.5);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15% 1.35rem 1rem 1rem;
        opacity: 0;
        -webkit-transition: all 250ms linear;
        transition: all 250ms linear;
    }
    figure:hover figcaption {
        top: 0;
        opacity: 1;
    }
}

.blogpost {
    .top {
        width: 100%;
        margin-bottom: .75rem;
        margin-top: 4rem;
        padding-top: 1rem;
        position: relative;
    }
    h2 {
        font-family: $opensans;
        text-align: left;
        font-weight: 600;
        letter-spacing: 0;
        margin-top: .75rem;
    }
    h2 a {
        @include linkreset($body);
        @include transitionlinear(250ms);
        &{border-bottom: none;}
        &:hover {color: $hovercolor;}
    }
    a {
        @include linkreset($orange);
        display: inline-block;
        margin-top: 0.75rem;
    }
}

.blogpost .top:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    background-color: $dark;
    left: 0;
    width: 52px;
}
