// Navigation Styles 

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
    z-index: 9000;
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 0;	
	left: 0;
	background: grey url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: $orange;
}

header {
    width: 100%;
    position: fixed;
    z-index: 8000;
}

.nav-list {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
}

.nav-list li {
    position: relative;
    background-color: $dark;
    min-width: 10rem;
}

.nav-list li:first-child {
    background-color: $white;
    border-top: none;
}

.nav-list i {
    background-color: $dark;
    position: absolute;
    height: 2.75rem;
    width: 3.2rem;
    padding-top: 3px;
    right: -9px;
    top: 0;
    font-size: 1.5rem;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.nav-list a, 
.nav-list a:link,
.nav-list a:visited{
    font-size: .85em;
    width: 100%;
    padding: 0.75rem 0 0.75rem 14px;
	display: inline-block;
	color: $white;
	text-decoration: none;
    background-color: $hovercolor;
}

/* Toggle Nav*/

.nav-top {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 200ms linear; 
}

.nav-top[data-state="expanded"] {
    opacity: 1;
    max-height: 100rem;
    overflow: auto;
}

.logo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 5rem;
}
	
@media only screen and (min-width: 45em) {
	
    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        display: none;
    }
    
    .nav-top{
        opacity: 1;
        max-height: 100rem;
    }
    
    header {
        width: 13rem;
        height: 100%;
        background-color: transparent;
    }
    
    .fakewrap {
        position: absolute;
        height: 100%;
        width: 5rem;
        left: 0;
        background-color: $dark;
        z-index: 1000;
    }
    
    .nav-list i {
        height: 2.75rem;
        width: 5.1rem;
    }
    
    .nav-list li {
        background-color: transparent;
        width: 12.5rem;
    }
    
    .nav-list li:nth-child(1) {
        margin-top: -5px;
        background-color: transparent;
    }
    
    .nav-list a, 
    .nav-list a:link,
    .nav-list a:visited{
        text-align: right;
        padding-right: 5.75rem;
        -webkit-transform: translateX(-7.55rem);
        -webkit-transition: all 290ms cubic-bezier(.69,.34,.56,.96);
    }
    
    .nav-list a:active, 
    .nav-list a:hover {
        -webkit-transform: translateX(0rem); 
    }
    
    .nav-list .current i {
        background-color: $orange;
    }
    
}

/* Top Nav Styles */

.socialmedia {
    position: fixed;
    top: 0;
    left: 40px;
    z-index: 9000;
    list-style-type: none;
}

.socialmedia li {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-align: center;
}

.socialmedia li i {
    font-size: 150%;
    color: black;
}

@media only screen and (min-width: 45em) {
    
    .socialmedia {
        left: 80px;
    }
    
}

.tab {
    position: fixed;
    height: 10.78rem;
    -webkit-transform: translateY(-8rem);
}

.tab-content {
    background-color: transparent;
    height: 8rem;
    width: 100%;
}

.tab-btn {
    z-index: 9000;
    position: absolute;
    padding: 10px;
    top:8rem;
    background-color: grey;
}

.donate > .tab-btn {
    right: 100px;
}

.volunteer > .tab-btn {
    right: 0px;
}

.tab-btn:hover .tab {
    -webkit-transform: translateY(0rem);
}

@media only screen and (min-width: 35em) {

    .donate > .tab-btn {
        right: 200px;
    }

    .volunteer > .tab-btn {
        right:  90px;
    }
    
}

@media only screen and (min-width: 60em) {

    .donate > .tab-btn {
        right: 300px;
    }

    .volunteer > .tab-btn {
        right: 190px;
    }
    
}