//Tabs 

.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
    margin-top: 3rem;
}

/* Tab Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 2px solid $dark;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 2px solid $dark;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 2px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: $dark;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: $dark;
	display: block;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
    text-decoration: none;
    transition: color 200ms linear;
}

.tabs nav a:hover {
	color: $orange;
}

.tabs nav li.tab-current a {
	color: $orange;
}

.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: 400;
	font-variant: normal;
	font-family: 'btb';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Tab Content */
.content section {
	display: none;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Tab Fallback  */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}

/* Tab media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 16.666%;
		width: calc(16.666% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

}

@media screen and (min-width: 32rem) {
    
    .mediabox {
        margin-top: -6px;
        padding: 4rem 6rem;
        border-bottom: 2px solid $dark;
        border-left: 2px solid $dark;
        border-right: 2px solid $dark;
    }
    
    .mediabox h3 {
        margin-top: 0;
    }
    
}