//Tabs 

.mediabox {
    border: 2px solid $body;
    padding: 1.25rem;
    margin-top: -8px;
    @media only screen and (min-width: 25rem) {
        padding: 4rem 10%;
    }
    @media only screen and (min-width: 80rem) {
        padding: 5.5rem 10%;
    }
    h3 {
        margin-top: 0;
    }
    p {
        margin: 0 auto;
        max-width: 26rem;
        @media only screen and (min-width: 25rem) {
            max-width: 32rem;
        }
    }
}

.tabs {
	width: 100%;
	overflow: hidden;
    margin-top: 3rem;
    z-index: 1;
}

/* Tab Nav */
.tabs {
    nav {
        text-align: center;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: inline-block;
            li {
                border: 2px solid $body;
                border-bottom: none;
                margin: 0 0.25em;
                display: block;
                float: left;
            }
        }
        a {
            color: $body;
            display: block;
            line-height: 1;
            font-size: 1.5rem;
            padding: .6rem .8rem .4rem;
            white-space: nowrap;
            text-decoration: none;
            transition: color 200ms linear;
            &:hover {color: $orange;}
            @media only screen and (min-width: 60em) {
                padding: 0 .5em;
            }
            @media only screen and (min-width: 76.5625em) {
                padding: 0 1.25em;
            }
        }
    }
}

.tabs nav li.tab-current {
	border: 2px solid $body;
	border-bottom: none;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav li.tab-current a {
	color: $orange;
}

.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: 400;
	font-variant: normal;
	font-family: 'btb';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
    @media only screen and (min-width: 52.375em) {
        display: none;
    }
}

/* Tab Content */
.content section {
	display: none;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Tab Fallback  */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid $body;
}

.content section.content-current {
	display: block;
}

/* Tab media queries */

@media only screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

}

@media only screen and (max-width: 32em) {

    .tabs-more nav ul li {
        width: 16.666%;
		width: calc(16.666% + 1px);
		margin: 0 0 0 -2px;
	}

}

.tabs nav a span {
    font-size: 1rem;
}