/* Tabs */

.tab-holder {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999999999;
    @media only screen and (min-width: 38em) {
        z-index: 6000;
    }
}

#donate-tab, #volunteer-tab {
    width: 100%;
    position: relative;
    margin-top: -100%;
    padding: 0 0.1rem;
    background-color: $white;
    -webkit-transition: all 250ms cubic-bezier(.6,.39,.59,.85);
    transition: all 250ms cubic-bezier(.6,.39,.59,.85);
    @media only screen and (min-width: 25em) {
        padding: 1.5rem 1.5rem 2rem;
    }
    @media only screen and (min-width: 38em) {
        padding: 3rem 3rem 2rem;
    }
    @media only screen and (min-width: 60rem) {
        padding: 4rem 3rem 6rem;
    }
}

.left-top {
    p {
        @include zero;
        @media only screen and (min-width: 38em) {
            padding: .65rem 2rem 0 0;
        }
        @media only screen and (min-width: 60rem) {
            padding: .65rem 3rem 0 6rem;
        }
        @media only screen and (min-width: 70rem) {
            padding: .65rem 3rem 0 12rem;
        }
    }
}

.right-top {
    margin-top: .25rem;
    @media only screen and (min-width: 38em) {
        border-left: solid 3px $hovercolor;
        padding-left: 2rem;
    }
    a {
        @include linkreset($orange);
        @include zero;
        border-bottom: none;
        font-family: $opensans;
        font-weight: 600;
        font-size: .7rem;
        display: block;
        margin: 0.5rem 0;
        @include transitionlinear(150ms);
        @media only screen and (min-width: 38em) {
            font-size: 1rem;
        }
        &:hover {
            color: $hovercolor;  
        }
    }
}

#donate-tab[data-state="expanded"], #volunteer-tab[data-state="expanded"]{
    margin-top:0;
    box-shadow: 0px 2px 10px rgba(15, 21, 30, .2);
}

.donate-btn, .volunteer-btn {
    font-family: $opensans;
    font-weight: 600;
    font-size: 0.85rem;
    text-decoration: none;
    display: block;
    height: 2rem;
    z-index: 9999;
    width: 5rem;
    position: absolute;
    bottom: -2rem;
    right: .75rem;
    background-color: $orange;
    text-align: center;
    color: $white;
    padding-top: 5px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    @media only screen and (min-width: 38em) {
        width: 8rem;
    }
    @media only screen and (min-width: 75em) {
        right: 2rem;
    }
}

.donate-btn:hover, .volunteer-btn:hover {
    background-color: $hovercolor;
}

.donate-btn {
    right: 6rem;
    @media only screen and (min-width: 21.75em) {
        right: 6.5rem;
    }
    @media only screen and (min-width: 38em) {
        right: 9rem;
    }
    @media only screen and (min-width: 75em) {
        right: 11rem;
    }
}