// Typography

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em; 
}

body {
    background-color: white;
    font-family: 'chaparral-pro', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: $body;
    box-sizing: border-box;
    text-align: center;
}

.orange {
    color: $orange;
}

.hovercolor {
    color: $hovercolor;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: .9;
    font-family: 'english', serif;
    text-align: center;
    letter-spacing: 1px;
}

h1, .uno {
  font-size: 2.25em;
}

h2, .dos {font-size: 1.75em;}

h3, .tres {font-size: 1.35em;}

h4, .cuatro {font-size: 1.25em;}

.p_large, .pull_quote {font-size: 1.05em}

p, main ul  {font-size: 0.95em; margin-top: 1.3em;}

small, .font_small {font-size: 0.667em;}


@media only screen and (min-width: 38em) {
    h1, .uno {
      font-size: 5.063em;
    }
    
    h2, .dos {font-size: 3.375em;}

    h3, .tres {font-size: 2.25em;}

    h4, .cuatro {font-size: 1.5em;}

    .p_large, .pull_quote {font-size: 1.35em}

    .p_small {font-size: 0.96em;}
    
    p, main ul  {font-size: 1.05em}

    small, .font_small {font-size: 0.667em;}
}

.pull_quote {
    text-align: center;
    width: 90%;
    max-width: 30rem;
    margin: 2em auto 2em;
    padding: 10px 0;
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
}


main h2 {
    color: $orange;
}

.italic {
    font-style: italic;
}

.blue {
    color: $hovercolor;
}

img+.caption {text-align: right;}

ul {
    margin-left: 1.05rem;
}

.flex-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.no-margin {
    @include zero;
}

.no-margin-top {
    margin-top: 0;
}

.half-margin-top {
    margin-top: 1.2rem;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.no-style {
    text-decoration: none;
}

.text-list li {
    margin: 1rem 0;
}

.text-list li:last-child {
    margin-bottom: 0rem;
}

main p a {
    text-decoration: none;
    color: $orange;
    border-bottom: 1px solid $orange;
}

.pagination {
    .linkreset {
        @include linkreset($orange);
        margin: 0 7px;
    }
}

.linkreset {
    @include linkreset($orange);
}

.decor-subtitle {
    display: block;
    text-align: center;
    font-size: .75rem;
    color: transparentize($hovercolor, .4);
    text-transform: uppercase;
    font-family: $opensans;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

.pretty-list {
    max-width: 26rem;
    margin: 3rem auto;
    list-style-type: none;
    li {
        border-bottom: 1px solid $white;
        padding: 1rem 0;
    }
    li:first-child {
        border-top: 1px solid $white;
    }
}