// Typography

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em; 
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: $dark;
    box-sizing: border-box;
}

p, ul {font-size: 0.85em; margin-bottom: 1.3em;}

h1, h2, h3, h4, h5, h6 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: .9;
    font-family: 'english', serif;
    text-align: center;
}

h1, .uno {
  font-size: 5.063em;
}

h2, .dos {font-size: 3.375em;}

h3, .tres {font-size: 2.25em;}

h4, .cuatro {font-size: 1.5em;}

.p_large, .pull_quote {font-size: 1.25em}

.pull_quote {
    font-weight: 600;
    text-align: center;
    width: 90%;
    max-width: 30rem;
    margin: 2em auto 2em;
    padding: 10px 0;
    position: relative;
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
}

p, main ul  {font-size: 1.05em}

small, .font_small {font-size: 0.667em;}

main h2 {
    color: $hovercolor;
}

.italic {
    font-style: italic;
}

img+.caption {text-align: right;}

ul {
    margin-left: 1.05rem;
}

.flex-img {
    display: block;
    margin: 2rem auto 0.5rem;
    width: 100%;
}

.roundit {
    border-radius: 450px;
}

.no-margin {
    margin-top: 0;
}

.no-margin-top {
    margin-top: 0;
}